[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/sfml"]
	path = dependencies/sfml
	url = https://github.com/SFML/SFML.git
